.card {
  min-height: 100vh;
  font-family: $sans-serif;
  font-weight: 300;
  background-color: #213334;
  background-size: cover;
  background-position: center;
  @include responsivebackground("card-sm.jpg", "card-md.jpg", "card-lg.jpg");

  .pageTitle {
    color: $primary-color;
    position: relative;
    padding-top: rem(20);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: rem(100);
      height: rem(7);
      background-color: $primary-color;
      display: block;
    }
  }

  .socialLinks__link {
    @include button--outline();
    font-family: $sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;

    .socialLinks_icon {
      align-items: center;
      display: inline-flex;
      margin-right: 0.25rem;
    }
  }

  main {
    @include max(md) {
      margin: 10%;
    }

    @include min(md) {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__content {
    padding: rem(40);
    background-color: white;
    border-radius: rem(10);

    @include min(md) {
      max-width: rem(600);
      z-index: 10;
      position: relative;
    }

    @include max(md) {
      padding: rem(20);
    }
  }

  &__image {
    min-height: 50vh;
    order: 1;
  }

  .self {
    width: rem(125);
    height: rem(125);
    background-color: white;
    position: absolute;
    top: rem(-90);
    left: rem(-50);
    border-radius: rem(10);
    padding: rem(5);

    @include max(md) {
      position: inherit;
      top: 0;
      left: 0;
    }

    img {
      border-radius: rem(10);
    }
  }
}
