<!DOCTYPE html>
<html class="no-js" lang="en">

{% include head.html %}

  <body class="card">

    <main>
      <div class="card__content--{{ site.full_text_position }} card__content">
        {% if page.title != "404" %}
          <div class="self">
            <img src="assets/img/image.jpg" />
          </div>
        {% endif %}

        <div>
          {{ content }}
          {% if page.title != "404" %}
            {% include social.html %}
          {% endif %}
        </div>
      </div>
    </main>
  </body>
</html>
